<form action="{{url_for('send_message')}}" method="post">
    <div class="form-element">
        <input type="text" name="namea" required="">
        <label><span class="sp1">Name</span></label>
      </div>
      <div class="form-element">
        <input type="email" name="email" required="">
        <label><span class="sp2">Email</span></label>
      </div>
      <div class="form-element">
        <input type="" name="p_no" required="">
        <label><span class="sp2">Phone No.</span></label>
      </div>
      <div class="form-element"style="margin-left:70px;">
        <button type="submit" value="submit" name= "submit">Sign Up</button>
      </div>

     </form> 